*,
*::before,
*::after {
   box-sizing: border-box; 
}

html {
  box-sizing: inherit;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%; /* this will be 16px on most browsers */
  line-height: 1.5; /* this is a multiple of the font size (1.5 * 16px = 24px) */
}

body {
  display: grid;
  margin: 0;
}

img {
  max-width: 100%;
  max-height: 100%;
}

figure {
  margin: 0;
  
}
.film-poster {
position: relative;
margin: 3vh;
max-width: 30vw;
}

.film {
  position: relative;
  display: flex;
  width: 75%;
  margin: 40px auto;
  border: 1px solid rgb(226, 226, 226);
  align-items: center;
}
.action-watch-later {
  position: absolute;
top: 10px;
right: 10px;

color: red;
}
.film-details {
  margin: 3vh;
}
.action-like {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: red;
}
.film-description {
  font-size: large;
font-weight: 600;
}
.film-title {
font-size: xx-large;
}